h1 {
    color: green;
}

li {
    list-style: none;
}

table {
    border-collapse: collapse;
}

table, td, th {
    border: 1px solid black;
}

.html-list{
    color: mediumpurple;
    list-style: square;
}

.css-list{
    color: blue;
    list-style: square;
}

.center{
    width: 100%;
    margin: auto;
    text-align: center;
}

.center-list{
    width: 15%;
    list-style-position: inside;
    text-align: left;
    display: inline-block;
}

input, label {
    display: block;
    margin-top: .3em;
}

